<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.background-color]="'var(--themeBackground)'">
  <swiper-container pagination="true">
    <swiper-slide *ngFor="let genre of genres">
      <div class="slideContent">
        <h2>{{ genre.title }}</h2>
        <img [src]="genre.image" [alt]="genre.title">
        <p>{{ genre.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>

  <ion-button expand="block" (click)="changeTheme()">Cambiar tema</ion-button>

  <!-- demo de storage -->
   <div>
    <h3>Demo de storage</h3>
    <div [style.background-color="'var(--themeBackground)'">
      <p>Tema actual> {{currentTheme}}</p>
    </div>
   </div>
</ion-content>